*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form input{
    width: 100%;
    height: 100px;
    color: antiquewhite;
    border: 0;
    font-size: 50px;
    text-align: end;
    /* padding-left: 50px; */
    padding: 10px;
    background-color: rgb(12, 12, 12);
    pointer-events: none;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;

}
button{
    font-size: 30px;
    width: 4rem;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    flex: 0 0 20%;
    margin: 14px 4px  ;
    border: 1px solid transparent;
    color: antiquewhite;
    background-color: rgb(141, 134, 134);
}


button:hover{
    background-color: black;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
}
.btnc{
   background-color: orange;
   font-size: 30px;
   justify-content: center;
   align-items: center;
}
.btng{
    /* background-color: rgb(217, 216, 216); */
    background-color: orange;
    font-size: 30px;
   justify-content: center;
   align-items: center;
}
.calculator{
    width: 320px;
    height: 500px;
    background: black;
    border-radius: 20px;
    overflow: hidden;

}
